.depart-drop {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 7px;
}
.show-menu {
    width: 240px;
    list-style: none;
    align-items: center;
    top: 40px;
    position: absolute;
    left: 115px;
}
.show-menu li {
    background-color: rgb(1, 1, 22);
    cursor: pointer;
}
.show-menu li:hover {
    background-color: hotpink;
}
.show-menu .active {
    display: none;
}
.service-menu {
    width: 10rem;
    position: absolute;
    list-style: none;
    align-items: center;
    text-align: start;
}
.service-menu li {
    background-color: rgb(1, 1, 22);
    cursor: pointer;
}
.service-menu.clicked {
    display: none;
}
.service-drop {
    display: block;
    width: 100%;
    height: 100%;
    padding: 17px;
    color: azure;
    text-decoration: none;
}
.service-drop:hover {
    background-color: brown;
}
.auto-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.sLides {
    margin-top: 40px;
    height: 350px;
    width: 1300px;
    margin-right: -90px;
    cursor: pointer;
}
.lefti {
    position: relative;
    font-size: 3rem;
    color: aqua;
    left: -1170px;
    cursor: pointer;
}
.righti {
    position: relative;
    font-size: 3rem;
    color: aqua;
    right: 50px;
    cursor: pointer;
}
@media screen and (max-width:620px) {
    .sLides {
        height: 200px;
        width: 450px;
        margin-top: 10px;
    }
    .lefti {
        display: none;
    }
    .righti {
        display: none;
    }
}
@media screen and (max-width:1200px)and (min-width:480px) {
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .sLides {
        height: 350px;
        width: 920px;
        margin-top: 10px;
        margin-left: -100px;
    }
    .lefti {
        display: none;
    }
    .righti {
        display: none
    }
}