.reGister{
    background-color:whitesmoke;
    width: 60%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
    }
.up{
text-transform: capitalize;
    }  
.si{
        text-transform: lowercase;
 }
 .title{
    width: 320px;
    outline: none;
    height:40px;
    border: none;
    margin-top: -30px;
 }
 .Rwrap{
  margin-top: -120px;
   margin-bottom: -90px;
  
 }
 .RegForm{
   margin: 25px;
   display: flex; 
 
 }
 .star input{
    height: 30px;
    width: 300px;
    margin: 20px;
    margin-left: -320px;
   
 }

 .left-in{
    display: flex;
    flex-direction: column;
 }
 .left-in input{
    height: 30px;
    width: 300px;
    margin: 20px;
 }
.sin-up{
   margin-top: 20px;
    height: 40px;
    font-size: 1rem;
    border: 2px solid crimson;
    width: 250px;
    font-family: inherit;
    font-weight: bold;
    background: transparent;
    color:crimson;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 180px;
}
.sin-up:hover{
    color:white;
    background-color: crimson;
}
.box{
   display: flex;
   justify-content: space-between;
}
.info{
   margin-bottom: 50px;
}
.agree{
   text-transform:none;
}
.agree a{
   color: darkblue;
}
