footer {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}
.up-foot {
    background-color: rgb(19, 1, 1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space:nowrap;
     position:relative;
}
.begin {
    background-color: rgb(216, 112, 112);
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}
sup {
    font-size: 20px;
    text-transform: uppercase;
}
.begin h1 {
    font-size: 50px;
}
.end {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    padding-left: 7px;
}
.end input {
    width: 350px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding-left: 10px;
    text-transform: capitalize;
    cursor: pointer;
}
.sub {
    height: 35px;
    border-radius: 15px;
    width: 100px;
    color: brown;
}
.sub:hover {
    cursor: pointer;
}
.terms {
    color: aliceblue;
}
abbr {
    text-decoration: none;
}
.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.socials h2 {
    color: whitesmoke;
    padding-left: 20px;
    font-size: 15px;
    width: -50px;
    cursor: pointer;
}
.linkss {
    display: flex;
    gap: 20px;
    align-items: center;
}
.linkss a {
    font-size: 1.5rem;
    color: beige;
}
.linkss a:hover {
    color: aqua;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
.low-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    margin-top: -80px;
     margin-left:auto;
    margin-right:auto;
    width: 1350px;
}
.wrap {
    display: flex;
    flex-wrap: wrap; 
}
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 60px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.links h2 {
    color: crimson;
}
.link a {
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-size: 18px;
}
.link a:hover {
    cursor: pointer;
    color: blue;
    padding-left: 10px;
}
.payment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: rgb(229, 231, 231);
}
.pay {
    font-size: 50px;
    margin: 25px;
}
.rights {
    margin-left: 50px;
}